# Environment Variables
PORT=8082
DB_HOST=localhost
DB_PORT=5432
DB_USER=task_user
DB_PASSWORD=task_password
DB_NAME=task_db
DB_SSLMODE=disable
AUTH_SERVICE_URL=http://localhost:8081
GIN_MODE=debug
REDIS_URL=localhost:6379
